.container-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 1rem;
    margin-block: 1rem;
    padding-inline: 1rem;
}

.card{
    margin-bottom: 1rem;
    padding: 0rem!important;
}

.card-img-top{
    height: 15rem;
}